# Node modules
**/node_modules/**

# Build files
docs-shared/lib/
packages/*/lib/

# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
dist/

# npm config
.npmrc

# Typescript build info
*.tsbuildinfo
src/.vuepress/**/**.js.map
src/.vuepress/**/**.js
src/utils/**/**.js
src/utils/**/**.js.map

# Coverage Files
coverage/

# macOS
.DS_Store

*.map

# 直接书写单词将同时匹配所有文件或目录，无论位置
node_modules
