// you can change colors here 设置默认主题色
$theme-color: rgba(#2196f3, 0.8);
/*
颜色设置对于所有颜色，如果其在浅色模式和深色模式颜色相同，可直接设置；否则，请设置一个 Map 类型的 Sass 变量分别给出浅色和深色模式下的颜色。此变量键名为 light 和 dark，值为颜色值。
可用的颜色变量:
$theme-color: 主题色
$text-color: 字体颜色
$bg-color: 背景色
$bg-color-secondary: 另一个浅背景色
$bg-color-tertiary: 另一个更浅的背景色
$border-color: 边框颜色$box-shadow: 元素阴影色$card-shadow: 卡片阴影色

原文链接：https://theme-hope.vuejs.press/zh/config/style.html#palette-scss
例子----
// 将主题颜色设置为红色
$theme-color: red;

// 将边框颜色加深
$border-color: (
  light: #ddd,
  dark: #444,
);
*/
$bg-color: (
  light: rgba(#fffff9, 0.9),
  dark: rgba(#333, 0.9)
);
//另一个浅背景色
$bg-color-secondary: (
  light: #f0f0f0,
  dark: #161b22
);
